<div class="container">
  <div class="row">
    <a class="btn btn=primary" routerLink="/admin">Back to List</a>
  </div>
  <div>
    <div class="form-group">
      <label>Buyer Name</label>
      <div class="form-control">{{student.name}}</div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <div class="form-control">{student.email}}</div>
    </div>
    <div class="form-group">
      <label>Phone</label>
      <div class="form-control">{{student.phone}}</div>
    </div>

  </div>
</div>
