  
<div class="container">
  <table class="table table-bordered table-inverse">
    <tr>
      <th>Owner Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th class="text-right">Purchase Price</th>
    </tr>
    <tr *ngFor="let student of students">
      <td>
        <a [routerLink] ="['/admin/view', student.id">{{student.name}}</a>
      </td>
      <td>
        {{student.email}}
      </td>
      <td>
        {{student.phone}}
      </td>
      <td class="text-right">
        {{student.purchasePrice}}
      </td>
    </tr>
  </table>
</div>